.userPanel {

  &_Title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    margin: 2em;
  }

  &_ListGroup {
    list-style-type: none;
    padding: 0;
    padding:1em;
  }

  &_ListGroupItem {
    padding: 2rem;
    border: .2rem solid #fff;
    border-radius: 1rem;
    margin-bottom: 2em !important;

    &_Icon {
      max-width: 15%;
    }
    &:hover {
      background-color: #fff;
    }

    a {
      color: var(--mainColor);
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;

      align-self: center;
      padding-left: 5rem;
    }
  }
}
