/* ===============
       Globals
   =============== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0;
  color: var(--mainColor);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

h2:hover {
  text-decoration: none !important;
}

a:hover {
  
  text-decoration: none !important;
}


:root {
  --mainColor:  #232e52;
  --secondaryColor: gray;
}

.linkMain {
    a {
      color: #232e52 !important;
    }
}

// @import url("https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f5f5f5 !important;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.navbar-toggler {
  border: none;
}

textarea:hover,
textarea:active,
input:not([type='checkbox']):hover,
input:not([type='checkbox']):focus,
input:not([type='checkbox']):active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* ===============
      Nprogress
   =============== */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

/* hide on smaller screens */
@media only screen and (max-width: 576px) {
  #nprogress {
    display: none;
  }    
}

#nprogress .bar {
  background: #fff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ===============
       Quill
   =============== */

.quill .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.quill .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.quill .ql-bubble .ql-editor {
  border: 1px solid rgb(236, 235, 235);
  border-radius: 0.5em;
}

.quill .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

// temp workaround to fix quill double toolbar when React strict mode is enabled
// https://github.com/zenoamaro/react-quill/issues/784#issuecomment-1130550582
.quill > .ql-toolbar:first-child {
  display: none !important;
}

/* ===============
      Buttons
   =============== */

.btn-primary {
  background-color: #232e52;
  font-weight: bold;
  border: 0px;
}

.btn-primary:focus,
.btn-primary:hover {
  border: 0px;
  background-color: #fff !important;
  color: #232e52 !important;
  font-weight: bold;
  outline: 0px !important;
  box-shadow: none;
  opacity: .9;
}

.btn-outline-primary {
  background-color: #fff !important;
  color: #232e52 !important;
  font-weight: bold;
  border: 0px;
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  border: 0px;
  background-color: #232e52 !important;
  color: white !important;
  font-weight: bold;
  outline: 0px !important;
  box-shadow: none;
  opacity: .9;
}

.btn-outline-gray,
.btn-outline-gray{
  border: 0px;
  background-color: #232e52 !important;
  color: white !important;
  font-weight: bold;
  outline: 0px !important;
  box-shadow: none;
  opacity: .9;
}


.btn-outline-gray:focus,
.btn-outline-gray:hover {
  border: 0px;
  background-color: gray !important;
  color: white !important;
  font-weight: bold;
  outline: 0px !important;
  box-shadow: none;
  opacity: .9;
}
  
// fix left margin alignment of lists inside blog div
ol,
ul {margin-left: 1em;}

// marked text
.bg-gray {
  background-color: gray;
  a {
    color: white;
    font-weight: bold;
    padding: .2em;
  }
  a:hover {
    color: white;
    text-decoration: underline !important;
  }
}

.bg-main {
  background-color: var(--mainColor);
  a {
    color: white;
    font-weight: bold;
    padding: .2em;
  }
  a:hover {
    color: white;
    text-decoration: underline !important;
  }
}

.swal2-confirm.swal2-styled {
    background-color: var(--mainColor) !important;
    color: #fff;
}

